<div>
  <h3>Ingrsar datos Iniciales</h3>
  <router-outlet></router-outlet>
  <form novalidate [formGroup]="requestTurnForm" (ngSubmit)="onSubmit()">
  
    <div class="row">
    <div class="column">
      <label for="FechaInicio">
        Nombre empresa/ comercio
      </label>
    </div>
    <div class="column"> 
      <select formControlName="IdServicio">
        <option value="undefined" selected class="dropdown-item">
          Seleccione nombre empresa....
        </option>
        <option [value]="name" *ngFor="let name of companyNames">
          {{ name }}
        </option>
      </select>
    </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="FechaInicio">
          Fecha Inicial
        </label>
      </div>
      <div class="column">
        <input id="FechaInicio" type="text" formControlName="FechaInicio" placeholder="aaaa/mm/dd">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="FechaFin">
          Fecha Final
        </label>
      </div>
      <div class="column">
        <input id="FechaFin" type="text" formControlName="FechaFin" placeholder="aaaa/mm/dd">
      </div>
    </div>
  <br>
    <button class="button" type="submit">Generar</button>
  
  </form>
  <hr>
  <h3>Turnos Asignados</h3>
  <table *ngIf="items">
    <thead>
      <tr>
        <th>Servicio</th>
        <th>Fecha Turno</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Estado</th>
      </tr>
    </thead>
      <tbody *ngFor="let item of items">
        <tr>
          <td>{{item.idServicio}}</td>
          <td>{{item.fechaTurno | date:'yy/MM/dd'}}</td>
          <td>{{item.horaInicio | date:'hh:mm'}}</td>
          <td>{{item.horaFin | date:'hh:mm'}}</td>
          <td>{{item.estado}}</td>
        </tr>
      </tbody>
  </table>